---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.content pre,
.content code {
  white-space: pre-wrap;
  word-break: break-word;
}
